@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip-cat {
    clip-path: url(#clipPathId);
  }
  circle {
    stroke-linecap: round;
    fill: transparent;
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
